<nav class="container-fluid header--navigation" aria-label="main navigation">
  <div class="container">
    <ul class="nav--primary">
      {% unless page.url == '/' %}
      <li><a href="/">Home</a></li>
      {% endunless %}

      <li>
        <a href="/2017/"{% if page.url == '/2017/' %} class="is-current"{% endif %}>
          2017 Home
        </a>
      </li>
      <li>
        <a href="/2017/speakers/"{% if page.url == '/2017/speakers/' %} class="is-current"{% endif %}>
          Speakers
        </a>
      </li>
      <li>
        <a href="/2017/sponsors/"{% if page.url == '/2017/sponsors/' %} class="is-current"{% endif %}>
          Sponsors
        </a>
      </li>
    </ul>
  </div>
</nav>
