<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% if page.url == '/2017/' %}
      OzLockCon 2017
    {% elsif page.title %}
      OzLockCon 2017 {{ page.title | escape }}
    {% else %}
      OzLockCon
    {% endif %}
  </title>

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

  <meta property="og:title" content="
    {% if page.url == '/' %}
      {{ site.title | escape }} {{ site.con_year | escape }}
    {% elsif page.title %}
      {{ site.title | escape }} {{ site.con_year | escape }} {{ page.title | escape }}
    {% else %}
      {{ site.title | escape }}
    {% endif %}" />

  <meta propery="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

  <meta property="og:image" content="https://ozseccon.com{% asset_path 'background.jpg'%}" />

  <meta name="author" content="@{{ site.twitter_username }}" />
  <meta name="twitter:creator" content="@{{ site.twitter_username }}" />

  {% css main %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" type="image/ico" href="{% asset_path 'skully.ico'%}" />

</head>
