<header role="banner">
  <nav class="container-fluid skip-to">
    <a href="#content">Skip to main content &darr;</a>
  </nav>

  <div class="container-fluid hero">
    <div class="container">
      <div class="hero__logo">
        {% img '{{ asset_path }}skully.png' alt:'Skully, the OzSecCon logomark' magick:resize:128x128 %}
      </div>

      {% if page.url == '/' %}
      <h1>OzLockCon 2017</h1>
      {{ site.description | markdownify }}
      <p>June 3-4 {{ site.con_location }}</p>

      {% else %}
      <h1>{{ page.title }}</h1>
      <p><small>for OzlockCon 2017</small></p>
      <p>June 3-4 {{ site.con_location }}</p>
      {% endif %}
    </div>
  </div>

  {% include 2017navigation.html %}
</header>
