<footer class="container-fluid" role="contentinfo">
  <div class="container">

    <p>
      &copy; 2017&ndash; <a href="mailto:{{ site.email }}">OzLockCon Consmiths</a>
    </p>

    <p>
      <span class="icon icon--stasibook">
        <a href="{{ site.stasibook_url }}">
          Stasibook
        </a>
      </span>

      <span class="icon icon--twatter">
        <a href="https://twitter.com/{{ site.twitter_username }}">
          @{{ site.twitter_username }}
        </a>
      </span>
    </p>

    <p><a href="#">&uarr; Return to top</a></p>

    <br />

    <a href="https://github.com/klepas/ozlockcon.com"><code>&lt;/&gt;</code></a>

  </div>
</footer>
