<header role="banner">
  <div class="page-title">
    {% if page.url == '/' %}
    <h1>{{ site.title }} {{ site.year }}</h1>
    {{ site.description | markdownify }}
    {% else %}
    <h1>{{ page.title }}</h1>
    <p>{{ site.title }} {{ site.year }}</p>
    {% endif %}
  </div>

  <nav class="header--bar" aria-label="main navigation">
    <div class="header--logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="Logo image">
    </div>
    <ul class="nav--primary">
      {% unless page.url == '/' %}
      <li><a href="/">Home</a></li>
      {% endunless %}

      <li>
        <a href="/cfpw"{% if page.url == '/cfpw' %} class="is-current"{% endif %}>
          Call for Papers &amp; Workshops
        </a>
      </li>
      <li>
        <a href="/schedule"{% if page.url == '/schedule' %} class="is-current"{% endif %}>
          Schedule
        </a>
      </li>
    </ul>

    <ul class="nav--secondary">
      <li>
        <a href="/conduct"{% if page.url == '/conduct' %} class="is-current"{% endif %}>
          Code of Conduct
        </a>
      </li>
      <li>
        <a href="/faq"{% if page.url == '/faq' %} class="is-current"{% endif %}>
          <abbr>FAQ</abbr>
        </a>
      </li>
      <li>
        <a href="mailto:{{ site.email }}">
          Contact
        </a>
      </li>
      <li>
        <a href="https://twitter.com/OzLockCon">
          @ozlockcon
        </a>
      </li>
    </ul>
  </nav>
</header>
