<nav class="container-fluid header--navigation" aria-label="main navigation">
  <div class="container">
    <ul class="nav--primary">
      {% unless page.url == '/' %}
      <li><a href="/">Home</a></li>
      {% endunless %}
<!--      <li class="cta">
        <a href="#">
          Tickets
        </a>
      </li> -->
      <li class="cta">
        <a href="/sponsors/"{% if page.url == '/sponsors/' %} class="is-current"{% endif %}>
          Sponsors
        </a>
      </li>
      <li class="cta">
        <a href="/cfpw/"{% if page.url == '/cfpw/' %} class="is-current"{% endif %}>
          <abbr title="Call For Papers">CFP</abbr> &amp; Workshops
        </a>
      </li>
      <li>
        <a href="/faq/"{% if page.url == '/faq/' %} class="is-current"{% endif %}>
          <abbr>FAQ</abbr>
        </a>
      </li>
      <li>
        <a href="/conduct/"{% if page.url == '/conduct/' %} class="is-current"{% endif %}>
          Code of Conduct
        </a>
      </li>
      <li>
        <a href="/2017/"{% if page.url == '/2017/' %} class="is-current"{% endif %}>
          2017 Site
        </a>
      </li>
    </ul>
  </div>
</nav>
