////////////////////////////////////////////////////////////////////////////////
// #  styling for our main semantic blocks
//
* {
  box-sizing: border-box;
}

body {
  @include media($tablet) {
    font-size: rem(17);
  }

  background-color: $off-white;
  color: $off-black;
  font-family: $font-stack-system;
  font-size: rem(16);
  line-height: $leading-body;
  margin: 0;
}

main {
  @include wrapper-padding;

  @include media($desktop) {
    padding-top: $line-double;
  }

  border-top: 3px solid lighten($light-grey, 8%);//clean me up
  padding-top: $line-single;
}

.skip-to,
main,
footer[role='contentinfo'] {
  padding-bottom: $line-double;

  a {
    border-radius: 2px;
    color: shade($action-colour, 15%);
    margin-left: -2px;
    margin-right: -2px;
    padding: 2px 3px;
    text-decoration: none;
    transition: color $base-duration $base-timing;

    &:active,
    &:focus,
    &:hover {
      background-color: lighten($yellow, 38%);
      border-bottom: 1px solid transparentize($black, .65);
      color: $off-black;
    }
  }

}
