* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: rem(16);
  line-height: $leading-body;
  color: $off-black;
  background-color: $off-white;

  // font-family: $base-font-family;

  @include media($tablet) {
    font-size: rem(17);
  }
}

main,
footer[role='contentinfo'] {
  padding-bottom: $line-double;
}
