@import 'neat-helpers'; // this is calling data from the gem

// (16 * 48) + (15 * 24)
$column: 3em; // 48, presuming base of 16px
$gutter: 1.5em; // 24, presuming base of 16px

$mobile-minwidth: 420px;
$tablet-minwidth: 768px;
$desktop-minwidth: 1128px;

$mobile-grid-columns: 8;
$tablet-grid-columns: 12;
$content-grid-columns: $tablet-grid-columns;
$desktop-grid-columns: 16;

$mobile: new-breakpoint(max-width $mobile-minwidth, $mobile-grid-columns);
$mobile-only: new-breakpoint(max-width $tablet-minwidth - 1, $mobile-grid-columns);
$tablet: new-breakpoint(min-width $tablet-minwidth, $tablet-grid-columns);
$tablet-only: new-breakpoint(min-width $tablet-minwidth max-width $desktop-minwidth - 1, $tablet-grid-columns);
$desktop: new-breakpoint(min-width $max-width, $desktop-grid-columns);

// ?
$border-box-sizing: true;
