////////////////////////////////////////////////////////////////////////////////
// #  Page header styling
//
header[role='banner'] {
  @include media($tablet) {
    background-position: center center;
  }

  background-color: $off-black;
  background-image: url(asset_path('background.jpg'));
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 3px solid $off-black;
  color: $white;

  .page-title {
    $page-title-background: desaturate(darken($action-colour, 28%), 12%);

    @include wrapper-padding;

    background: transparentize($page-title-background, .2);
    padding-bottom: $line-single;
    padding-top: $line-double;
    text-align: center;
    text-shadow: 2px 1px 3px desaturate(darken($action-colour, 40%), 15%); //clean me up :)

    h1 {
      @include media($tablet) {
        font-size: rem(48);
        margin-bottom: 0;
        text-align: left;
      }

      font-size: rem(32);
    }

    p {
      @include media($tablet) {
        font-size: rem(28);
        text-align: left;
      }

      font-size: rem(26);
      margin-top: 0;
      max-width: 40em; //doc
    }
  }
}
