$base-border: 1px solid $transparent-grey;

////////////////////////////////////////////////////////////////////////////////
// #  main’s typography
//
%toc {
  margin-bottom: $line-double;
  font-size: 1.257rem;
  padding: $line-single $line-half;
  background-color: lighten($transparent-grey, 65%);
  border-radius: 2px;
  box-shadow: inset 0 0 1px darken($transparent-grey, 5%), 0 2px 3px $transparent-grey;

  @include breakpoint(sm) {
    padding: $line-single;
  }

  @include breakpoint(md) {
    column-count: 2;
    column-gap: $line-double * 2;
    column-width: auto;
  }

  li {
    list-style: none;
    margin-left: $line-single;

    @include breakpoint(sm) {
      margin-left: 0;
    }
  }
}


.toc {
  @extend %toc;
}


.lede {
  margin-bottom: $line-single;

  > * {
    font-size: 127.5%;
  }
}

small {
  display: inline-block;
  font-style: normal;
  font-size: 87.5%;
  max-width: 48em;
}

.skip-link {
  font-size: 87.5%;
  display: inline-block;
  margin-top: $line-single;
}

.amp {
  font-style: italic;
  font-family: $font-stack-serif;
}

main {
  p,
  dl,
  ul,
  ol,
  blockquote {
    // we’re gonna keep our line-lengths/measures in check
    max-width: 50em;
  }

  // Abbreviations/acronyms.
  abbr,
  abbr[title] {
    font-size: 106.25%;
    // 17px; using % since abbr should be nested inside another text element,
    // and we need to match the small-cap height with the regular x-height.
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: 1px;
    text-decoration: none;
    border-bottom: 1px dotted $light-grey;
    cursor: help;

    &:hover {
      border-bottom: none;
    }
  }

  blockquote {
    margin: $line-half 0;
    padding: 0 rem(36);
    quotes: '\201C''\201D''\2018''\2019';

    &::before,
    &::after {
      color: $action-colour;
      display: block;
      font-family: Georgia, serif;
      font-size: rem(43);
      height: 0;
    }

    &::before {
      content: open-quote;
      margin-left: -(rem(24));
    }

    &::after {
      content: close-quote;
      margin-right: -(rem(24));
      margin-top: -($line-half);
      padding-bottom: $line-half;
      text-align: right;
    }
  }

  ul,
  ol,
  dl {
    margin-bottom: $line-single;
    padding-left: 0;
  }

  li {
    margin-left: $line-single;
    margin-bottom: $line-quarter;

    > ul,
    > ol {
      margin-bottom: $line-quarter;
    }
  }

  ul {
    li {
      list-style: disc;
    }
  }


  dl {
    dd {
      margin-left: $line-half;
      margin-bottom: $line-half;
    }

    dt {
      font-size: rem(16);
      font-weight: 600;
      margin-top: $line-quarter;
      margin-bottom: 0;
      color: #444;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  &.cfpw {
    ul {
      @include breakpoint(md) {
        column-count: 2;
        column-gap: $line-double;
        column-width: auto;
      }
    }
  }

  hr {
    border: none;
    border-bottom: $base-border;
    height: 0;
    margin: $line-single 0;
    max-width: 50em;
    overflow: visible;
  }
}

.smallcaps {
  font-size: 106.25%; // In case of nesting.
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 1px;
}
