////////////////////////////////////////////////////////////////////////////////
// #  Main navigation styling
//
.skip-to {

  @include breakpoint(sm) {
    text-align: left;
  }
  @include breakpoint(md) {
    @include sr-only;
  }

  display: inline-block;
  margin-top: $line-half;
  margin-bottom: $line-single;
  position: absolute;
  text-align: center;
  z-index: 2;

  a {
    color: lighten($action-colour, 15%);
    font-size: rem(15);
  }
}

.header--navigation {
  $nav-background: desaturate(darken($action-colour, 50%), 30%);
  $nav-colour: $white;
  $nav-link-colour: transparentize($nav-colour, .2);
  $footer-disclaimer-color: transparentize($nav-colour, .6);

  background: transparentize($nav-background, .12);
  padding: $line-single 0;
  text-shadow: 1px 1px 3px $nav-background;
  width: 100%;

  ul {
    @include breakpoint(sm) {
      align-items: baseline;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      margin-bottom: 0;
    }

    margin: 0 0 $line-half;
    padding: 0;
  }

  li {
    @include breakpoint(sm) {
      margin-bottom: 0;
      padding-right: $line-single;
      text-align: left;

      &:last-child {
        padding-right: 0;
      }
    }

    flex-grow: 1;
    flex-shrink: 0;
    font-size: rem(19);
    list-style: none;
    margin-bottom: $line-quarter;
    text-align: center;

    a {
      border-bottom: 2px solid transparent;
      color: $nav-link-colour;
      padding-bottom: 3px;
      text-decoration: none;

      &:focus,
      &:hover {
        border-bottom: 3px solid transparentize($action-colour, .1);

        color: $white;
      }

      &.is-current {
        border-bottom: 3px solid transparentize($nav-link-colour, .5);
      }
    }
  }

  a abbr {
    text-decoration: none;
  }

  .nav--primary {
    @include breakpoint(sm) {
      margin-bottom: 0;
    }

    margin-bottom: $line-single;

    // Emphasised nav item styling
    .cta {
      font-weight: bold;
    }
  }
}
