////////////////////////////////////////////////////////////////////////////////
// #  Main navigation styling
//
.skip-to {
  @include wrapper-padding;

  @include media($tablet) {
    text-align: left;
  }
  @include media($desktop) {
    @include sr-only;
  }

  display: inline-block;
  margin-top: $line-single;
  position: absolute;
  text-align: center;
  z-index: 2;

  a {
    color: lighten($action-colour, 15%);
    font-size: rem(15);
  }
}

.header--navigation {
  $nav-background: desaturate(darken($action-colour, 50%), 30%);
  $nav-colour: $white;
  $nav-link-colour: transparentize($nav-colour, .2);
  $footer-disclaimer-color: transparentize($nav-colour, .6);

  @include media($tablet) {
    align-items: center;
    display: flex;
  }

  background: transparentize($nav-background, .12);
  padding: $line-single;
  text-shadow: 1px 1px 3px $nav-background;
  width: 100%;

  .header--logo {
    @include media($tablet) {
      margin-right: $line-single;
      padding-left: $gutter;
    }
    @include media($desktop) {
      align-self: center;
    }

    margin-right: 0;

    img {
      @include media($tablet) {
        height: 48px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        text-align: left;
        width: 48px;
      }

      border: 1px solid black;
      border-radius: 4px;
      display: block;
      height: 64px;
      margin-bottom: $line-single;
      margin-left: auto;
      margin-right: auto;
      width: 64px;
    }
  }

  ul {
    @include media($tablet) {
      margin-bottom: 0;
    }

    flex-grow: 2;
    margin: 0 0 $line-half;
    padding: 0;
  }

  li {
    @include media($tablet) {
      padding-right: $line-single;
      text-align: left;

      &:last-child {
        padding-right: 0;
      }
    }

    font-size: rem(19);
    list-style: none;
    margin-bottom: $line-quarter;
    text-align: center;

    a {
      border-bottom: 2px solid transparent;
      color: $nav-link-colour;
      padding-bottom: 3px;
      text-decoration: none;

      &:focus,
      &:hover {
        border-bottom: 3px solid transparentize($action-colour, .3);

        color: $white;
      }

      &.is-current {
        border-bottom: 3px solid transparentize($nav-link-colour, .5);
      }
    }
  }

  .nav--primary {
    @include media($tablet) {
      margin-bottom: 0;
    }

    margin-bottom: $line-single;
  }
}
