.responsive-media-vid {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  margin-bottom: $line-half;

  > .responsive-media-vid__item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 0;
  }

  &.responsive-media-vid--16x9 {
  padding-bottom: 56.25%; // 16/9
  }

  &.responsive-media-vid--4x3 {
  padding-bottom: 75%; // 4/3
  }
}


.responsive-media-img {
  max-width: 100%;
}


.responsive-media-gmap {
  position: relative;
  padding-bottom: 65.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: $line-single;

  & > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 50em;
  height: 100%;
  }
}
