////////////////////////////////////////////////////////////////////////////////
// #  styling for the table
//
table {
  border-collapse: collapse;
  margin: $line-single 0;
  width: 100%;
}

th {
  border-bottom: $table-bord-bot;
  padding: $line-single 0;
  text-align: left;
}

td {
  border-bottom: $table-bord-bot;
  padding: $line-single 0;
}

tr,
td,
th {
  vertical-align: middle;
}
