////////////////////////////////////////////////////////////////////////////////
// #  styling for the table
//
table {
  border-collapse: collapse;
  margin: $line-single 0;
  width: 100%;
}

thead {
  border-bottom: 2px solid $lighter-grey;
}

th {
  padding: $line-single $line-half;
}

td {
  border-bottom: 2px solid $lighter-grey;
  padding: $line-single $line-half;
}

tr,
td,
th {
  vertical-align: middle;
}


tbody tr:nth-child(odd) {
  background-color: #f0f3f5;
}
