// Sponsorship org name headings hidden for visual neatness
h3#privasec,
h3#mercury-iss,
h3#loop-technology,
h3#southord,
h3#sparrows-lock-picks,
h3#pentesterlab,
h3#nooelec,
h3#tenable,
h3#insomnia-security,
h3#ozhack,
h3#pickpals-locksport-sponsor,
h3#hacklabs,
h3#aura,
h3#datacom,
h3#loop-secure,
h3#polytechnic {
  @include sr-only;
}

.logo {
  display: block;
  margin: 0;
  margin-top: $line-double;
  padding: 0;
  border-bottom: none;

  &:active,
  &:focus,
  &:hover {
    background-color: white;
    border-bottom: none;
  }
}
