@charset 'utf-8';

@import 'bourbon';
@import 'grid-settings';
@import 'neat';
@import 'base/base';
@import 'grid-settings';


////////////////////////////////////////////////////////////////////////////////
// #  Variables
//
// Much of the typographic sizing for the body is setup here to accompany body
// text set at 16px.

$leading-body:            1.8;
$leading-heading:         1.4;
$type-size-body:          16;

// ## Spacing based on the leading (the line-height).
//
// This spacing unit is relative to the element’s font-size/$leading-body. We
// setup the leading (base line-hight) as our spacing unit (in ems).
//
$line-single:             ($leading-body * 1em); // 1.6em
$line-double:             ($line-single * 2);
$line-three-quarter:      ($line-single * .75);
$line-half:               ($line-single / 2);
$line-quarter:            ($line-single / 4);

// ## Colours
//
$white:                   #fff;
$black:                   #000;

$off-white:               #f0f3f5;
$off-black:               #101010;


$grey:                    #6e6e6e;
$light-grey:              lighten($grey, 30%);
$dark-grey:               lighten($grey, 20%);


$action-colour: #477dca !default;


// ## Type families
//
$base-monospace: 'Lucida Sans Typewriter', 'Lucida Console', Monaco, 'Bitstream Vera Sans Mono', monospace;

$base-font-family: $base-monospace;

////////////////////////////////////////////////////////////////////////////////
// #  Mixins & functions

// ## Pixel to rem function
//
// Input: unitless numbers (the intended pixel value output).
//
// Assumes that the the body or html has a font-size of 16px.
//
// Effectively re-implements Bourbon’s pixel to rem calc function from <5.0.0.
//
@function rem($pxval) {
  $base-size: $type-size-body;

  @return ($pxval / $base-size) * 1rem;
}

@mixin wrapper-padding {
  @include media($desktop) {
    padding-left: $gutter * 2;
    padding-right: $gutter * 2;
    width: 100%;
    // min-width: ...;
  }

  box-sizing: border-box;
  padding-left: $gutter;
  padding-right: $gutter;

  width: 100%;
}

@mixin wrapper {
  @include wrapper-padding;
  @include outer-container;
}


////////////////////////////////////////////////////////////////////////////////
// #  Custom partial imports
@import 'body';
// @import 'navigation';
@import 'headings';


////////////////////////////////////////////////////////////////////////////////
// #  Base styles

header[role='banner'] {
  background-color: $off-black;
  background-image: url('/assets/images/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 3px solid $off-black;
  color: $white;

  .page-title {
    $page-title-background: desaturate(darken($action-colour, 28%), 12%);

    @include wrapper-padding;

    background: transparentize($page-title-background, .2);
    padding-bottom: $line-single;
    padding-top: $line-double;
    text-align: center;
    text-shadow: 2px 1px 3px desaturate(darken($action-colour, 40%), 15%); //clean me up :)

    h1 {
      @include media($tablet) {
        font-size: rem(48);
        margin-bottom: .5em;
        text-align: left;
      }

      font-size: rem(32);
      margin-bottom: 1em;
    }

    p {
      @include media($tablet) {
        font-size: rem(28);
        text-align: left;
      }

      font-size: rem(26);
      max-width: 40em; //doc
    }
  }

  nav {
    $nav-background: desaturate(darken($action-colour, 50%), 30%);
    $nav-colour: $white;
    $nav-link-colour: transparentize($nav-colour, .3);
    $footer-disclaimer-color: transparentize($nav-colour, .6);

    @include media($tablet) {
      align-items: baseline;
      display: flex;
    }

    background: transparentize($nav-background, .12);
    padding: $line-single;
    text-shadow: 1px 1px 3px $nav-background;
    width: 100%;

    .header--logo {
      @include media($tablet) {
        margin-right: $line-single;
      }
      @include media($desktop) {
        align-self: center;
      }

      margin-right: 0;

      img {
        @include media($tablet) {
          margin-bottom: 0;
          margin-left: 0;
          margin-right: 0;
          text-align: left;
        }

        display: block;
        height: $line-single;
        margin-bottom: $line-half;
        margin-left: auto;
        margin-right: auto;
      }
    }

    ul {
      @include media($tablet) {
        margin-bottom: 0;
      }
      @include media(1300px) {
        max-width: 730px;
      }

      flex-grow: 2;
      margin: 0 0 $line-half;
      padding: 0;

      li {
        @include media($tablet) {
          padding-right: $line-single;
          text-align: left;

          &:last-child {
            padding-right: 0;
          }
        }
        @include media($desktop) {
          display: inline;
          text-align: left;
        }

        font-size: rem(19);
        list-style: none;
        margin-bottom: .25em;
        text-align: center;

        a {
          border-bottom: 2px solid transparent;
          color: transparentize($nav-link-colour, .1);
          padding-bottom: 3px;
          text-decoration: none;

          &:focus,
          &:hover {
            border-bottom: 3px solid transparentize(lighten($action-color, 20%), .35);

            color: transparentize($nav-link-colour, 0);
          }

          &.is_current {
            border-bottom: 3px solid transparentize($nav-link-colour, .5);
          }
        }
      }
    }

    .nav--secondary {
      @include media($desktop) {
        flex-grow: 1;
        // margin-right: rem(160);
      }

      li {
        font-size: rem(16);
      }
    }
  }
}

main {
  @include media($desktop) {
    padding-top: $line-double;
  }

  @include wrapper-padding;

  border-top: 3px solid #c1c1c1; //clean me up
  padding-top: $line-single;

  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: $leading-heading;
    margin-bottom: $line-quarter;
    margin-top: $line-half;
  }

  h2 {
    @include clearfix; // not working?

    font-size: rem(32);

    &:first-child {
      margin-top: 0;
    }

    // @include media($tablet) {
    //   &:first-of-type {
    //     margin-top: $leading-body * 1.5em;
    //   }
    // }
  }

  // @include media($tablet) {
  //   > *:not(h2) {
  //     margin-left: rem(288);
  //   }
  //
  //   h2 {
  //     width: rem(256);
  //     text-align: right;
  //
  //     & + * {
  //       margin-top: -(rem(54));
  //     }
  //   }
  // }

  h3 {
    margin-top: $line-single;
  }

  p,
  dl,
  ul,
  ol,
  blockquote {
    // we’re gonna keep our line-lengths/measures in check
    max-width: 50em;
  }

  blockquote {
    font-family: Georgia, serif;
    margin: $line-half 0;
    padding: 0 rem(36);
    quotes: '\201C''\201D''\2018''\2019';

    &::before,
    &::after {
      color: $action-colour;
      display: block;
      font-family: Georgia, serif;
      font-size: rem(43);
      height: 0;
    }

    &::before {
      content: open-quote;
      margin-left: -(rem(24));
      padding-bottom: $line-quarter;
    }

    &::after {
      content: close-quote;
      margin-right: -(rem(24));
      margin-top: -($line-half);
      padding-bottom: $line-half;
      text-align: right;
    }
  }

  ul,
  ol,
  dl {
    margin-bottom: $line-single;
  }

  ul {
    li {
      list-style: disc;
      margin-left: $line-single;
    }
  }

  &.cfpw {
    ul {
      @include media($desktop) {
        column-count: 2;
        column-gap: $line-double;
        column-width: auto;
      }
    }
  }
}

footer[role='contentinfo'] {
  @include wrapper-padding;

  // include a nice image as a dividing border (maybe keypins?)
}
